@import url("https://fonts.googleapis.com/css2?family=McLaren&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");
:root {
  --color-flame: #E4572E;
  --color-asperagus: #90A959;
  --color-gray: #b9b9b9;
  --color-rich_black: #04030F;
  --color-opacity-black: #2A2935;
  --color-white: #ffffff;
  --font-primary:"McLaren", sans-serif;
  --font-secondary:"Tillana", sans-serif;
  --font-general:"Metamorphous", sans-serif;
}

/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.logo-pistache {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 52px;
}

.body-main-page {
  background-image: url(public/assets/images/mainPicture.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  font-family: var(--font-general);
  font-weight: 100;
}

.nav-bar ul {
  background-color: var(--color-white);
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 1em 2em;
}
.nav-bar ul li a {
  color: var(--color-rich_black);
  font-family: var(--font-primary);
  font-weight: 300;
  text-decoration: none;
  padding: 10px 20px;
}
.nav-bar ul li a:hover {
  color: var(--color-white);
  background-color: var(--color-flame);
  padding: 10px 20px;
  border-radius: 20px;
}

.form-container {
  position: relative;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: var(--color-white);
}
.form-container label {
  display: block;
  margin-bottom: 5px;
}
.form-container input, .form-container textarea {
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 20px;
  border: 1px solid var(--color-flame);
  border-radius: 5px;
  background: rgba(37, 37, 37, 0.4);
  color: var(--color-flame);
}
.form-container input::placeholder, .form-container textarea::placeholder {
  color: #bbb;
}
.form-container textarea {
  height: 100px;
  resize: none;
}

.body-contact {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: var(--font-general);
  overflow-x: hidden;
}

.contact-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 60vh;
  align-items: center;
  background-image: url(public/assets/images/pexels-jose-prada-1063299555-20593401.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-left a img {
  width: 100%;
  max-width: 30vw;
}

.contact-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-rich_black);
  color: var(--color-gray);
}
.contact-right .telephone-adresse {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.contact-right .telephone-adresse article p {
  margin-bottom: 10px;
  text-align: center;
}
.contact-right .telephone-adresse article p:nth-child(1) {
  color: var(--color-asperagus);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
}
.contact-right .container-horaires {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.contact-right .container-horaires h2 {
  color: var(--color-asperagus);
  font-family: var(--font-secondary);
  text-align: center;
  font-size: 5em;
  text-transform: uppercase;
  padding-top: 1em;
}
.contact-right .horaires-ouverture {
  display: flex;
  gap: 3em;
}
.contact-right .horaires-ouverture div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.contact-right .contact-container {
  padding: 50px 0;
}
.contact-right .contact-container h2 {
  font-size: 3em;
  font-family: var(--font-secondary);
  color: var(--color-asperagus);
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: center;
}
.contact-right .contact-container form {
  display: flex;
  flex-direction: column;
}
.contact-right .contact-container form div {
  display: flex;
  flex-direction: column;
}
.contact-right .contact-container form div label {
  color: var(--color-asperagus);
  padding-top: 10px;
}
.contact-right .contact-container form div input {
  width: 550px;
  background-color: var(--color-opacity-black);
  border: none;
  padding: 10px 0;
  border-radius: 10px;
}
.contact-right button {
  margin-top: 2em;
  float: right;
}

.google-maps iframe {
  border-radius: 20px;
}

.container-footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}
.container-footer .social-logos {
  display: flex;
  gap: 30px;
}
.container-footer .container-logos-rights {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-footer .container-logos-rights p {
  font-size: 10px;
}
.container-footer .small-logo-pistache img {
  width: 10vw;
}

.body-menu {
  display: flex;
  font-family: var(--font-general);
}

.menu-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-rich_black);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-gray);
  padding: 20px 70px;
}
.menu-left ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  background-color: var(--color-rich_black);
  padding: 3em 0;
}
.menu-left ul a {
  font-size: 1.5em;
  color: var(--color-asperagus);
  text-decoration: none;
  font-family: var(--font-secondary);
}
.menu-left ul a:hover {
  color: var(--color-flame);
  cursor: pointer;
}
.menu-left .text {
  padding: 15em 0;
}
.menu-left .text p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.menu-left .text p:nth-child(2) {
  margin-top: 30px;
}
.menu-left .container-menu h2 {
  font-size: 2em;
  color: var(--color-asperagus);
  padding: 20px 0;
  text-transform: uppercase;
}
.menu-left .recipe-title {
  display: flex;
}
.menu-left .recipe-title p {
  width: 30%;
  color: var(--color-asperagus);
  margin-bottom: 1.5em;
}
.menu-left .recipe-title .line {
  background-color: var(--color-asperagus);
  height: 2px;
  width: 100%;
  margin-left: 5px;
}

.menu-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20vh;
  background-image: url(public/assets/images/pexels-valeriya-20571435.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-gray);
  position: fixed;
  right: 0;
}
.menu-right a img {
  width: 20vw;
}
.menu-right section p:nth-child(1) {
  color: var(--color-flame);
  font-family: var(--font-secondary);
  font-size: 2em;
  text-align: center;
}
.menu-right section p:nth-child(2) {
  color: var(--color-white);
  font-family: var(--font-primary);
  font-size: 5em;
}

.body-restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-logo-text {
  display: flex;
  width: 100%;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  padding: 20vh 10vw 0 10vw;
}
.container-logo-text img {
  padding: 0 60px;
}
.container-logo-text article p {
  padding: 0 90px;
  font-size: 1.5em;
  margin-bottom: 60px;
  font-family: var(--font-secondary);
}

.btn-reserver {
  background-color: var(--color-rich_black);
  padding: 10px 20px;
  font-size: 2em;
  margin-top: 2em;
  border-radius: 20px;
}
.btn-reserver a {
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
}

.container-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-images img {
  width: 100%;
  height: 100%;
  max-height: 2550px;
  object-fit: cover;
}

.container-posts-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-posts-list .container-search-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.articles-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.articles-content .posts {
  border: 1px solid gray;
  padding: 10px 20px;
  display: flex;
  gap: 200px;
}
.articles-content .posts div {
  margin: 15px 0;
}
.articles-content .btn-articles {
  font-size: 0.7rem;
  text-decoration: none;
  background-color: none;
}

.btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

.btn {
  color: var(--color-white);
  background-color: var(--color-flame);
  padding: 5px 20px;
  border-radius: 20px;
  font-family: var(--font-primary);
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease;
}
.btn:hover {
  background-color: var(--color-asperagus);
}

.container-categories {
  display: flex;
}
.container-categories .categories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 90px;
  gap: 20px;
}

.admin-header {
  display: flex;
  gap: 50px;
  align-items: center;
}
.admin-header h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 500;
  font-family: var(--font-secondary);
}

.admin-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px;
}
.admin-content form input {
  border: 2px solid var(--color-opacity-black);
  border-radius: 5px;
  width: 50vh;
  height: 2vw;
}
.admin-content form .btn-container {
  display: flex;
  gap: 20px;
}
.admin-content form .btn-container button {
  border: none;
  background-color: transparent;
}
.admin-content form .btn-container button:hover {
  color: var(--color-asperagus);
}
.admin-content form .btn-container button:nth-child(2):hover {
  color: var(--color-flame);
}

.nav-bar-admin {
  height: 100vh;
  background-color: var(--color-rich_black);
  color: var(--color-white);
  padding: 40px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.nav-bar-admin ul li {
  margin: 10px 0;
}
.nav-bar-admin ul a {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-secondary);
}
.nav-bar-admin a {
  text-decoration: none;
  color: var(--color-flame);
  font-family: var(--font-secondary);
}

.btn-container a, .btn-container button {
  background-color: transparent;
  border: none;
  color: black;
  font-family: var(--font-primary);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
