:root {
    // colors
    --color-flame : #E4572E;
    --color-asperagus : #90A959;
    --color-gray : #b9b9b9;
    --color-rich_black : #04030F;
    --color-opacity-black : #2A2935; 
    --color-white : #ffffff;


    // fonts
    // main font
    --font-primary :"McLaren", sans-serif;
    // mid font
    --font-secondary :"Tillana", sans-serif;
    // general text
    --font-general :"Metamorphous", sans-serif;

}