:root {
    // colors
    --color-flame : #E4572E;
    --color-asperagus : #90A959;
    --color-white : #FBFCFF
    --color-rich_black : #04030F;


    // fonts
    // main font
    --font-primary :"McLaren", sans-serif;
    // mid font
    --font-secondary :"Tillana", sans-serif;
    // general text
    --font-general :"Metamorphous", sans-serif;


}