.body-main-page {
    background-image: url(public/assets/images/mainPicture.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    font-family: var( --font-general);
    font-weight: 100;
}

.nav-bar {
    ul { 
        background-color: var(--color-white);
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 20px;
        max-width: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 1em 2em;

        li {

            a {
                color: var( --color-rich_black );
                font-family:  var( --font-primary);
                font-weight: 300;
                text-decoration: none;
                padding: 10px 20px;

                &:hover {
                    color: var(--color-white);
                    background-color: var(--color-flame);
                    padding: 10px 20px;
                    border-radius: 20px;
                }

            }
        }

    }

}

.form-container {
    position: relative;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: var(--color-white);

    label {
        display: block;
        margin-bottom: 5px;
    }

    input, textarea {
        width: calc(100% - 20px);
        padding: 8px 10px;
        margin-bottom: 20px;
        border: 1px solid var(--color-flame);
        border-radius: 5px;
    background: rgba(37, 37, 37, 0.4);
        color: var(--color-flame);
    }

    input::placeholder, textarea::placeholder {
        color: #bbb;
    }
    
    textarea {
        height: 100px;
        resize: none;
    }

    

    
}